@media only screen and (min-device-width: 666px) {
    .bloghead1 {
        min-height: 20vw !important;
        background-color: #EFF2F3;
    }
    .bloghead2 {
        top: -13vw !important;
        position: relative !important;
        z-index: 9;
    }
    .bloghead3 {
        -ms-transform: rotate(-10deg);
        /* IE 9 */
        -webkit-transform: rotate(-10deg);
        /* Chrome, Safari, Opera */
        transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        font-size: 8vw;
        font-family: 'Finger Paint', cursive;
        color: #2DBE60;
        margin-bottom: 0em;
    }
    .warmsg {
        font-size: 1vw !important;
    }
}

@media only screen and (min-device-width: 766px) {
    .projhead2 {
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        font-family: 'Days One', cursive;
        font-size: 19vh;
        margin: 0em !important;
        position: fixed;
        left: -1.5em !important;
        top: 2.3em !important;
    }
}

@media only screen and (max-device-width: 767px) {
    .projhead1 {
        top: 3em !important;
        position: relative !important;
    }
    .projhead2 {
        position: relative !important;
        font-size: 10vw;
        margin-left: 30vw !important;
        font-family: 'Days One', cursive;
    }
}

@media only screen and (max-device-width: 665px) {
    .hidsmall {
        visibility: hidden;
    }
    .bloghead1 {
        min-height: 40vw !important;
    }
    .bloghead2 {
        top: -17vw !important;
        position: relative !important;
    }
    .bloghead3 {
        font-size: 8vw;
        font-family: 'Finger Paint', cursive;
        color: #2DBE60;
        margin-bottom: 0em;
    }
    .warmsg {
        visibility: hidden !important;
    }
}

body,
html {
    padding: 0em;
    margin: 0em
}

html {
    overflow: auto;
    overflow-x: hidden !important;
}

body {
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.pagedata {
    min-width: 100%;
    padding-top: 0em;
    margin-top: 0em;
}

.frontimage {
    max-height: 100vh;
}

.frontcard {
    min-width: 100% !important;
    margin: 0em !important;
    padding: 0em !important;
}

.pusher {
    position: absolute !important;
    min-width: 100% !important;
}

.conseg {
    top: -1px;
    padding-bottom: 5em !important;
}

.cardcontent {
    padding: 0em !important;
    min-height: 25em !important;
}

.myworld {
    margin-top: 30px !important;
    font-size: 7vh !important;
}

.items {
    margin-top: 100px !important;
}

.segment {
    border-radius: 0em !important;
}

.topmenuseg {
    position: fixed !important;
    padding: 0em !important;
    margin: 0em !important;
    z-index: 999 !important;
    min-width: 100% !important;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.8);
}

.sidebarmenu {
    top: 2.85714286em !important;
}

.footer {
    padding: 0em !important;
}

.footerseg {
    min-height: 7em !important;
    border-radius: 0em !important;
}

.footergrid {
    margin-top: 1em !important;
}

.blogcontent {
    min-height: 50em !important;
}

.sitelink:link {
    color: #794b02;
    text-decoration: none;
}


/* visited link */

.sitelink:visited {
    color: grey;
}


/* mouse over link */

.sitelink:hover {
    color: #2575d0;
}


/* selected link */

.sitelink:active {
    color: #2DBE60;
}